<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435708045284-4pi0l81mobhe4i7u8ajd853jgv02vog6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435708045284-4pi0l81mobhe4i7u8ajd853jgv02vog6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>435708045284-5gonrr8r68p4mh12vqvuavsvundaepa1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCsSD0WYPyjcnJ1v0hRqFXxu_YMvs6jsq0</string>
	<key>GCM_SENDER_ID</key>
	<string>435708045284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reconlab.lockstars</string>
	<key>PROJECT_ID</key>
	<string>locky-app</string>
	<key>STORAGE_BUCKET</key>
	<string>locky-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435708045284:ios:94e4f128c452ee04a049f1</string>
</dict>
</plist>